@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #111827;
  --secondary-color: #f3f4f6;
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
}

